
<form action="/toShorten" method="post">
  <div class="mb-3">
    <label for="UrlInput" class="form-label">請輸入欲縮短的網址</label>
    <input type="url" class="form-control" id="UrlInput" aria-describedby="urlHelp" placeholder="Input URL here" name="urlInput">
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>
