<h1>URL Shortener</h1>
<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
  class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  <div class="mb-3">
    <label for="UrlInput" class="form-label">Success! Plaease use this link:</label>
    
    <p id="copy">{{urlOutput}}</p>
    <button type="button" class="btn btn-primary" onclick="copyEvent('copy')">Copy</button>
    {{!-- copy --}}
      <script>
        function copyEvent(id) {
          const str = document.getElementById(id);
          window.getSelection().selectAllChildren(str);
          document.execCommand("Copy")
        }
      </script>
    <a href="/">返回首頁</a>

