
  <div class="mb-3">
    <label for="UrlInput" class="form-label">Success! Plaease use this link:</label>
    <p id="copy">{{urlOutput}}</p>
    <button type="button" class="btn btn-primary" onclick="copyEvent('copy')">Copy</button>
    <a href="/">返回首頁</a>

